@using Carlton.Dashboard.ViewModels.HomeForDinner
@using Carlton.Base.Infrastructure.Client.Components.Cards
@using Carlton.Base.Infrastructure.Client.Components.Data
@using Carlton.Base.Infrastructure.Client.Components;
@using Carlton.Base.Infrastructure.Client.Components.Select;

@inherits CarltonParentComponent<HomeForDinnerViewModel>


<div class="home-for-dinner-card">
    <CarltonListCard CardTitle="Home For Dinner" Items="ViewModel.DinnerGuests">
        <HeaderCardContent>
            <div class="my-dinner-status-row">
                <DinnerGuestView Guest="ViewModel.MyGuestStatus" ShowIndicator="false" />
                <div class="row home-for-dinner-row">
                    <div class="col-9">
                        <label>Are you home for dinner?</label>
                    </div>
                    <div class="col-3 text-center">
                        <Checkbox IsChecked="true" />
                    </div>
                </div>

                <CarltonSelect ViewModel="_selectVM" />
            </div>

            <div class="sub-title">Dinner Guests</div>
        </HeaderCardContent>

        <ItemTemplate Context="guest">
            <DinnerGuestView Guest="guest" ShowIndicator="true" />
        </ItemTemplate>
    </CarltonListCard>
</div>

@code{
    private CarltonSelectViewModel _selectVM;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _selectVM = new CarltonSelectViewModel("Reason?", ViewModel.MySavedReasons);
    }
}

