@using Carlton.Base.Infrastructure.Client.Components.Toggle
@namespace Carlton.Dashboard.Components.HomeForDinner

<div class="home-for-dinner-toggle">
    <div class="row justify-content-center">
        <div class="heading-text">
            <span>Are you home for dinner?</span>
        </div>
    </div>
    <div class="row justify-content-center">
        <ToggleSwitch ToggleChangedCallback="OnToggleChanged" />
    </div>
    <div class="row">
        <input type="text" class="reason-label form-control col-8 justify-content-center" value="test" disabled="@(IsHomeForDinner)" label="Where will you be?" v-model="reason" />
    </div>
</div>

@code{

    private bool IsHomeForDinner { get; set; } = true;

    private void OnToggleChanged(bool value)
    {
        IsHomeForDinner = value;
    }

}

