@namespace Carlton.Dashboard.Components

<CssWraper ComponentType="GetType()" AdditionalClasses="@AccentColorClass">
    <Content>
        <Card>
            <PrimaryCardContent>
                <div class="row">
                    <div class="col-3 offset-1 count-icon mdi mdi-36px @(AccentColorClass) @(Icon)"></div>
                    <span class="col-6 offset-1 count-message">@Message</span>
                </div>
            </PrimaryCardContent>
        </Card>
    </Content>
</CssWraper>

@code{
    [Parameter]
    public int Count { get; set; }
    [Parameter]
    public string MessageTemplate { get; set; }
    [Parameter]
    public string Icon { get; set; }
    [Parameter]
    public string AccentColorClass { get; set; }


    public string Message
    {
        get
        {
            return $"{Count} {MessageTemplate}";
        }
    }

}

