@inherits Menu
 
<Menu MenuItems="MenuItems">
    <MenuTemplate>
        <span class="mdi mdi-24px mdi-dots-vertical"></span>
    </MenuTemplate>
    <MenuItemTemplate Context="item">
        <MenuElement MenuItem="item" />
    </MenuItemTemplate>
</Menu>

