@namespace Carlton.Base.Infrastructure.Client.Components
@using System
@using MediatR
@using Carlton.Base.Infrastructure.Client.Data
@using Carlton.Base.Infrastructure.Client.Events
@using Microsoft.AspNetCore.Components
@typeparam TComponent

<div class="carlton-data-component">
    @DynamicChild
</div>


@code{

    [Parameter]
    public RenderFragment DynamicChild { get; set; }

    [Inject]
    private IServiceProvider ServiceProvider { get; set; }

    [Inject]
    private IMediator Mediator { get; set; }

    private object ViewModel { get; set; }

    private delegate Task ComponentEventDel(IComponentEvent<IComponentEventResult> evt);

    protected override void OnInitialized()
    {
        base.OnInitialized();

        //Get DataService
        var viewModelType = typeof(TComponent).BaseType.GenericTypeArguments.First();
        var dataServiceType = typeof(IDataService<>).MakeGenericType(viewModelType);
        var dataService = (dynamic)ServiceProvider.GetService(dataServiceType);

        //Initial Set of ViewModel
        ViewModel = dataService.GetViewModel();

        //Wire-Up ViewModel Changed Event
        dataService.ViewModelChanged += new System.EventHandler<ViewModelChangedEventArgs>((object sender, ViewModelChangedEventArgs e) =>
        {
            dataService.GetViewModel();
        });

        //Wire-Up Child Event Callback
        ComponentEventDel del = ComponentEventHandler;
        var eventCallback = new EventCallback<IComponentEvent<IComponentEventResult>>(this, del);

        //Render Child Component
        DynamicChild = builder =>
        {
            builder.OpenElement(1, "div");
            builder.OpenComponent(2, typeof(TComponent));
            builder.AddAttribute(1, "ViewModel", ViewModel);
            builder.AddAttribute(2, "OnComponentEvent", eventCallback);
            builder.CloseComponent();
            builder.CloseElement();
        };
    }


    private async Task ComponentEventHandler(IComponentEvent<IComponentEventResult> evt)
    {
        var result = await Mediator.Send(evt);
        
        //Add Exception Handling Here
    }
}