
<div class="carlton-media-query-wrapper">
    <div class="mobile">
        @MobileContent
    </div>
    <div class="desktop">
        @DesktopContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment MobileContent { get; set; }

    [Parameter]
    public RenderFragment DesktopContent { get; set; }
}
