<div class="@ThemeClass">
    @Contenet
</div>

@code {
    [Parameter]
    public string Theme { get; set; }

    [Parameter]
    public RenderFragment Contenet { get; set; }

    private string ThemeClass
    {
        get
        {
            return $"theme-{Theme}";
        }
    }
}
