@mixin console-textarea {
    textarea {
        width: 85%;
        max-height: 300px;
        background-color: black;
        color: greenyellow;
        margin-left: auto;
        margin-right: auto;

        &.error {
            color: red;
        }
    }
}
