@inherits CarltonMenuParent
 
<CarltonMenuParent MenuItems="MenuItems">
    <MenuTemplate>
        <span class="mdi mdi-24px mdi-dots-vertical"></span>
    </MenuTemplate>
    <MenuItemTemplate Context="item">
        <CarltonSimpleMenuItem MenuItem="item" />
    </MenuItemTemplate>
</CarltonMenuParent>

