
<div class="carlton-toggle-switch" style="font-size: 14px">
    <input class="switch right" type="checkbox" @(IsChecked ? "checked" : string.empty) />
</div>


@code{
    [Parameter]
    public bool IsChecked { get; set; }

    [Parameter]
    public EventCallback<bool> OnToggleChangedCallback { get; set; }
}