@namespace Carlton.Base.Infrastructure.Client.Components.Toggle

<div class="toggle-switch">
    <label class="switch">
        <input type="checkbox" checked @onchange="async (evt) => await ToggleChangedCallback.InvokeAsync((bool) evt.Value)">
        <span class="slider round"></span>
    </label>
</div>


@code{
    [Parameter]
    public EventCallback<bool> ToggleChangedCallback { get; set; }
}