@using Carlton.Dashboard.ViewModels

@namespace Carlton.Dashboard.Components
@inherits CarltonComponentBase<ApartmentStatus>

<div class="row apartment-status-list-item">
    <div class="col-3 offset-2">
        <ApartmentStatusIcon Status="ViewModel.StatusName" />
    </div>
    <div class="col-2"></div>
    <div class="col-3">
        @if(ViewModel.StatusValue == ApartmentStatusValue.Complete)
        {
            <span class="status-value-complete mdi mdi-24px mdi-check-circle"></span>
        }
        else
        {
            <span class="status-value-incomplete mdi mdi-24px mdi-alert"></span>
        }
    </div>
</div>



