@using MediatR
@using Microsoft.AspNetCore.Components

@typeparam TViewModel

<div class="carlton-data-wrapper">
    @ChildComponent(Context)
</div>


@code{
    [Parameter]
    public RenderFragment<CarltonDataWrapperContext<TViewModel>> ChildComponent { get; set; }

    [Inject]
    private IMediator Mediatr { get; set; }

    [Inject]
    private ICarltonRequestFactory factory { get; set; }

    private TViewModel ViewModel { get; set; }

    protected CarltonDataWrapperContext<TViewModel> Context { get; set; }

    protected async override Task OnInitializedAsync()
    {
        //Get VM and initalize context for wrapped component
        var vm = await Mediatr.Send<TViewModel>(factory.GetViewModelRequest<TViewModel>()).ConfigureAwait(false);
        Context = new CarltonDataWrapperContext<TViewModel>(vm, ComponentEventHandler);

        //Continue initilization
        await base.OnInitializedAsync();
    }

    protected async Task GetViewModel()
    {
        ViewModel = await Mediatr.Send(factory.GetViewModelRequest<TViewModel>()).ConfigureAwait(false);
    }

    private async Task ComponentEventHandler<TComponentEvent>(TComponentEvent evt)
        where TComponentEvent : ICarltonComponentEvent
    {

        System.Console.WriteLine("The type in the wrapper: " + typeof(TComponentEvent) + " : " + evt.GetType());

        var request = (IRequest<Unit>)factory.GetComponentEventRequest<TComponentEvent>(evt);
        await Mediatr.Send(request).ConfigureAwait(false);
    }
}