@using MediatR


@typeparam TViewModel

<div class="carlton-data-wrapper">
    @ChildComponent(Context)
</div>


@code{
    [Parameter]
    public RenderFragment<CarltonDataWrapperContext<TViewModel>> ChildComponent { get; set; }

    [Inject]
    private IMediator Mediatr { get; set; }

    [Inject]
    private ICarltonRequestFactory factory { get; set; }

    private TViewModel ViewModel { get; set; }

    protected CarltonDataWrapperContext<TViewModel> Context { get; set; }

    protected async override Task OnInitializedAsync()
    {
        //Get VM and initalize context for wrapped component
        var request = factory.GetViewModelRequest<TViewModel>();
        var vm = await Mediatr.Send<TViewModel>(request).ConfigureAwait(false);
        Context = new CarltonDataWrapperContext<TViewModel>(vm, ComponentEventHandler);

        //Continue initilization
        await base.OnInitializedAsync();
    }

    protected async Task GetViewModel()
    {
        ViewModel = await Mediatr.Send(factory.GetViewModelRequest<TViewModel>()).ConfigureAwait(false);
    }

    private async Task ComponentEventHandler(object evt)
    {
        var request = (IRequest<Unit>)factory.GetComponentEventRequest(evt);
        await Mediatr.Send(request).ConfigureAwait(false);
    }
}