@using MediatR
@using Microsoft.AspNetCore.Components

@typeparam TViewModel

<div class="carlton-data-wrapper">
    @ChildComponent(Context)
</div>


@code{
    [Parameter]
    public RenderFragment<CarltonDataWrapperContext<TViewModel>> ChildComponent { get; set; }

    [Inject]
    private IMediator Mediatr { get; set; }

    [Inject]
    private ICarltonRequestFactory Mapper { get; set; }

    private TViewModel ViewModel { get; set; }

    protected CarltonDataWrapperContext<TViewModel> Context { get; set; }

    protected async override Task OnInitializedAsync()
    {
        //Get VM and initalize context for wrapped component
        var vm = await Mediatr.Send<TViewModel>(Mapper.GetViewModelRequest<TViewModel>()).ConfigureAwait(false);
        Context = new CarltonDataWrapperContext<TViewModel>(vm, ComponentEventHandler);

        //Continue initilization
        await base.OnInitializedAsync();
    }

    protected async Task GetViewModel()
    {
        ViewModel = await Mediatr.Send(Mapper.GetViewModelRequest<TViewModel>()).ConfigureAwait(false);
    }

    private async Task ComponentEventHandler(ICarltonComponentEvent evt)
    {
        var request = Mapper.MapToRequest<TViewModel>(evt);
        ViewModel = await Mediatr.Send(request).ConfigureAwait(false);
    }
}