@inherits LayoutComponentBase

@using Carlton.Base.Client.State.Components
@using Carlton.Dashboard.Components.State

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>


    <CarltonDataStoreWrapper TViewModel="Carlton.Dashboard.ViewModels.ApartmentStatus.ApartmentStatus"
                             
                             StateEvents="@(new string[]{ "", "", ""})">
        <ChildComponent>
            <div>@context.</div>
        </ChildComponent>
    </CarltonDataStoreWrapper>

    <div class="content px-4">
        @Body
    </div>
</div>

