@inherits Header

<div class="carlton-collapsed-header">
    <div class="row">

        <div class="col-2 title">
            <span>
                @LogoContent
            </span>
            <span>
                @MenuContent
            </span>
        </div>

        <div class="offset-4 col-6 action">
            @ActionContent
        </div>
    </div>
</div>
