@inherits Header

<div class="row">
    <div class="title col-md-3 col-xl-2">
        @LogoContent
    </div>
    <div class="menu col-md-1 col-xl-2">
        @MenuContent
    </div>
    <div class="action col-6 offset-2">
        @ActionContent
    </div>
</div>
