@namespace Carlton.Base.Client.Components

<div class="header">
    @if(IsCollapsed)
    {
        <CollapsedHeader LogoContent="LogoContent"
                         MenuContent="MenuContent"
                         ActionContent="ActionContent" />
    }
    else
    {
        <ExpandedHeader LogoContent="LogoContent"
                        MenuContent="MenuContent"
                        ActionContent="ActionContent" />
    }
</div>



@code{
    [Parameter]
    public RenderFragment LogoContent { get; set; }
    [Parameter]
    public RenderFragment MenuContent { get; set; }
    [Parameter]
    public RenderFragment ActionContent { get; set; }
    [CascadingParameter]
    private bool IsCollapsed { get; set; }
}