@inherits Header

<div class="carlton-collapsed-header">
    <div class="row">
        <div class="col-1 title">
            <span>
                @LogoContent
            </span>
        </div>
        <div class="col-1">
            <span>
                @MenuContent
            </span>
        </div>

        <div class="col-10 action">
            @ActionContent
        </div>
    </div>
</div>