
<div class="card">
    <div class="card-body">
        <div class="row">
            <h5 class="col-9 card-title">@CardTitle</h5>
            <div class="col-3 status-icon">
                @ActionBarContent
            </div>
        </div>
        <div class="header-content">
            @HeaderContent
        </div>
        <div class="primary-content">
            @PrimaryCardContent
        </div>
    </div>
</div>


@code{
    [Parameter]
    public string CardTitle { get; set; }
    [Parameter]
    public RenderFragment ActionBarContent { get; set; }
    [Parameter]
    public RenderFragment HeaderContent { get; set; }
    [Parameter]
    public RenderFragment PrimaryCardContent { get; set; }
}