@using Carlton.Dashboard.ViewModels.Feed
@using Carlton.Base.Infrastructure.Client.Components.Cards

@inherits CarltonParentComponent<FeedViewModel>

<div class="feed-list-card">
    <CarltonListCard TItem="FeedItem" Items="GroupedItems.SelectMany(o=>o.GroupItems)" CardTitle="Feed">
        <ItemTemplate Context="feedItem">
            <FeedItemView ViewModel="feedItem" />
        </ItemTemplate>
    </CarltonListCard>
</div>



@code {
    private IEnumerable<CarltonGroupedListCard<FeedItem>.GroupedItem> GroupedItems;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        GroupedItems = ViewModel.GroupedFeedItems.Select(o => new CarltonGroupedListCard<FeedItem>.GroupedItem { GroupName = o.Key, GroupItems = o.Value });
    }
}
