@using Carlton.Dashboard.ViewModels.Feed

<div class="feed-item">
    <div class="feed-item-row row">
        <div class="col-2">
            <img class="avatar-img" src="https://www.w3schools.com/w3images/avatar2.png" />
        </div>
        <div class="col-8">
            <div class="feed-title">@ViewModel.User.UserName</div>
            <div class="feed-message">@ViewModel.Message</div>
        </div>
        <div class="col-2 align-middle feed-date-col">
            <span class="feed-date">2h</span>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public FeedItem ViewModel { get; set; }
}