@using Carlton.Dashboard.ViewModels.Feed


@inherits CarltonParentComponent<FeedListViewModel>

<div class="feed-list-card">
    <CarltonListCard TItem="FeedListItemViewModel" Items="ViewModel.FeedItems" CardTitle="Feed" CardStatus="base.ComponentStatus">
        <ItemTemplate Context="feedItem">
            <FeedListItem ViewModel="feedItem" />
        </ItemTemplate>
    </CarltonListCard>
</div>


