@using Carlton.Dashboard.ViewModels.Feed
@using Carlton.Base.Infrastructure.Client.Components.Cards

@namespace Carlton.Dashboard.Components.Feed

<div class="feed-list-card">
    <CarltonGroupedListCard TItem="FeedItem" CardTitle="Feed" GroupedItems="GroupedItems">
        <ItemTemplate Context="feedItem">
            <div class="row">
                    <div class="col-4">
                        <img class="avatar-img" src="https://www.w3schools.com/w3images/avatar2.png" />
                    </div>
                    <div class="col-8">
                        <div class="feed-title">@feedItem.Title</div>
                        <div class="feed-message">@feedItem.Message</div>
                    </div>
                </div>
        </ItemTemplate>
    </CarltonGroupedListCard>
</div>

@code {
    [Parameter]
    public FeedViewModel ViewModel { get; set; }

    private IEnumerable<GroupedItems<FeedItem>> GroupedItems;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        GroupedItems = ViewModel.GroupedFeedItems.Select(o => new GroupedItems<FeedItem> { GroupName = o.GroupName, Items = o.Items });
    }
}
