@inherits LayoutComponentBase
@using Carlton.Base.Infrastructure.Client.Components.Tree

<div class="sidebar">
    <CarltonTree ViewModel="vm" />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>


@code{ 

    public CarltonTreeViewModel vm;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        var builder = new TreeItemsBuilder();
        builder.AddTreeNode<SurveyPrompt>("Test")
               .AddTreeNode<SurveyPrompt>("Test 2");
        vm = new CarltonTreeViewModel(builder.Build().ToList());

    }
}