@inherits LayoutComponentBase
@inject CarltonTreeViewModel vm

<div class="sidebar">
    <CarltonTree ViewModel="vm" />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
    <footer class="footer"> 
            <TabControl>
                <Tab DisplayText="Component Events">
                   <EventConsole></EventConsole>
                </Tab>
                <Tab DisplayText="JSON Payloads">
                    <h1></h1>
                </Tab>
            </TabControl>
    </footer>
</div>

<style>
    .sidebar {
        background-color: #263238;
        color: white;
    }

    .main .content {
            resize: vertical;
            overflow-y: hidden;
    }

    textarea {
        width: 100%;
        background-color:black;
        color: greenyellow;
    }
</style>



@code{
    protected override void OnInitialized()
    {
        base.OnInitialized();

        vm.SelectedItemChanged += (sender, args) =>
        {
            this.StateHasChanged();
        };
    }
}