@using Carlton.Base.Client.Components.Tab

@inherits LayoutComponentBase
@inject TestBedService service

<div class="sidebar">
    <TestBedNavTree ViewModel="service.TreeItems" SelectedItemChanged="service.SelectItem" InitialSelection="service.SelectedItem" />
</div>

<div class="main">
    <div class="content px-4">
        <TestBed ComponentType="service.TestComponentType" IsCarltonComponent="service.TestComponentIsCarltonComponent" ViewModel="service.TestComponentViewModel" ComponentStatus="service.ComponentStatus" ComponentEventCallback="service.AddComponentEvent" />
    </div>

    <footer class="footer @(!service.TestComponentIsCarltonComponent ? "invisible" : string.Empty)">
        <CarltonTabBar>
            <CarltonTab DisplayText="Component Events">
                <EventConsole ComponentEvents="service.ComponentEvents" ClearEvents="service.ClearEvents"/>
            </CarltonTab>
            <CarltonTab DisplayText="JSON Payloads">
                <ViewModelViewer ViewModel="service.TestComponentViewModel" ViewModelChanged="service.UpdateTestComponentViewModel"/>
            </CarltonTab>
            <CarltonTab DisplayText="Component Status">
                <ComponentStatusSwitch ComponentStatusChangeCallback="service.UpdateComponentStatus" />
            </CarltonTab>
        </CarltonTabBar>
    </footer>
</div>

