@inherits LayoutComponentBase
@inject CarltonTreeViewModel vm

<div class="sidebar">
    <span>selected item: @vm.SelectedItem.DisplayName</span>
    <CarltonTree ViewModel="vm" />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>


@code{
    protected override void OnInitialized()
    {
        base.OnInitialized();

        vm.SelectedItemChanged += (sender, args) =>
        {
            this.StateHasChanged();
        };
    }
}