@inherits LayoutComponentBase

@inject TestBedService service

<div class="sidebar">
    <TestBedNavTree ViewModel="service.TreeItems" SelectedItemChanged="service.SelectItem"  />
</div>

<div class="main">
    <div class="content px-4">
        <TestBed ComponentType="service.TestComponentType"  ViewModel="service.TestComponentViewModel" ComponentEventCallback="service.AddComponentEvent" />
    </div>
    <footer class="footer">
        <TabControl>
            <Tab DisplayText="Component Events">
                <EventConsole ViewModel="service.ComponentEvents"></EventConsole>
            </Tab>
            <Tab DisplayText="JSON Payloads">
                <ViewModelViewer ViewModel="service.TestComponentViewModel" ViewModelChanged="service.UpdateTestComponentViewModel"></ViewModelViewer>
            </Tab>
        </TabControl>
    </footer>
</div>

<style>
    .sidebar {
        background-color: #263238;
        color: white;
    }

    .main .content {
        resize: vertical;
        overflow-y: hidden;
    }

    textarea {
        width: 100%;
        background-color: black;
        color: greenyellow;
    }
</style>


