@using System.Reflection;
@using System.Resources; 

<div class="test-component-source">
    @((MarkupString) Source)
</div>

@code {

    [Parameter]
    public Type ComponentType { get; set; }

    public string ComponentName { get { return ComponentType.Name; } }

    public string Source { get; private set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        var assembly = Assembly.GetAssembly(ComponentType);

        System.Console.WriteLine($"{assembly.GetName()}.SourceExamples");

        var rm = new ResourceManager($"{assembly.GetName().Name}.SourceExamples", assembly);

        Source = rm.GetString(ComponentName);

        //using(var stream = Assembly.GetAssembly(typeof(Carlton.Dashboard.Components.ToDo.ToDoListCard)).GetManifestResourceStream("Carlton.Dashboard.Components.wwwroot.MarkupComponents.ToDoListSource.txt"))
        //using(var reader = new System.IO.StreamReader(stream))
        //{
        //    Test = reader.ReadToEnd();
        //}

    }
}

