@using  Newtonsoft.Json
@using  Carlton.Base.Client.Events


<div class="event-console">
    <div class="form-group">
        <textarea readonly="readonly" rows="8">@ConsoleText</textarea>
        <button type="button" class="btn btn-info" @onclick="Clear">clear</button>
    </div>
</div>

@code {

    [Parameter]
    public IEnumerable<object> ComponentEvents { get; set; }

    [Parameter]
    public EventCallback ClearEvents { get; set; }

    public string ConsoleText { get; set; }

    private void Clear()
    {
        ConsoleText = string.Empty;
        ClearEvents.InvokeAsync(null);
    }

    protected override void OnParametersSet()
    {
        System.Console.WriteLine("OnParametersSet");
        base.OnParametersSet();
        ConsoleText = string.Empty;

        foreach(var evt in ComponentEvents)
        {
            ConsoleText += Environment.NewLine;
            ConsoleText += $"{evt.GetType().Name}: {JsonConvert.SerializeObject(evt)}";
        }
    }
}


