@inherits CarltonMenuParent

<CarltonMenuParent MenuItems="MenuItems">
    <MenuTemplate>
        <span class="icon mdi mdi-24px mdi-settings"></span>
    </MenuTemplate>
    <MenuItemTemplate Context="item">
        <CarltonConditionalMenuItem MenuItem="item"/>
    </MenuItemTemplate>
</CarltonMenuParent>
