
<div class="component-status-switch">
    <div class="btn-group">
        @foreach(var status in Enum.GetValues(typeof(ComponentStatus)))
        {
            <button type="button" class="btn btn-info" @onclick=" () => ComponentStatusChangeCallback.InvokeAsync((ComponentStatus) status)">
                @Enum.GetName(typeof(ComponentStatus), status)
            </button>
        }
    </div>
</div>

@code{
    [Parameter]
    public EventCallback<ComponentStatus> ComponentStatusChangeCallback { get; set; }
}