<div class="row">
    <div class="col-2 offset-7 text-right">
        <TestBedSettingsMenu MenuItems="MenuItems" />
    </div>
    <div class="col-3 text-right user-col">
        <CarltonUserDisplay />
    </div>
</div>

@code {
    private IEnumerable<CarltonMenuItem> MenuItems = new List<CarltonMenuItem>()
    {
        new CarltonMenuItem("Test", () => Task.CompletedTask),
        new CarltonMenuItem("Theme", new List<CarltonMenuItem>()
            {
                new CarltonMenuItem("Light", () => Task.CompletedTask),
                new CarltonMenuItem("Dark", () => Task.CompletedTask)
            })
     };
}