@inherits CarltonMenuParent

    <div class="test-bed-header-menu">
        
        <div>
            <span class="icon mdi mdi-24px mdi-settings"></span>
        </div>

        <CarltonMenuParent MenuItems="_menuItems">
            <MenuTemplate>
                <span class="icon mdi mdi-24px mdi-format-paint"></span>
            </MenuTemplate>
            <MenuItemTemplate Context="item">
                <CarltonSimpleMenuItem MenuItem="item" />
            </MenuItemTemplate>
        </CarltonMenuParent>
    </div>

@code{

    [Inject]
    private CarltonThemeService Theme { get; set; }
    private List<CarltonMenuItem> _menuItems;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _menuItems = new List<CarltonMenuItem>
        {
            new CarltonMenuItem("Light", () => {Theme.UpdateTheme("light"); return Task.CompletedTask; }),
            new CarltonMenuItem("Dark", () => {Theme.UpdateTheme("dark"); return Task.CompletedTask; })
        };
    }
}