@using Carlton.Base.Client.Theme

<div class="row">
    <div class="col-3 offset-6 text-right">
        <TestBedHeaderMenu />
    </div>
    <div class="col-3 text-right user-col">
        <CarltonUserDisplay />
    </div>
</div>

