@using Carlton.Dashboard.ViewModels.ApartmentStatus
@using Carlton.Base.Infrastructure.Client.Components.Cards
@using Carlton.Base.Infrastructure.Client.Events;

@namespace Carlton.Dashboard.Components.ApartmentStatus

<div class="apartment-status-list-card">
    <CarltonListCard CardTitle="Apartment Status" Items="ViewModel.Statuses">
        <ItemTemplate Context="status">
            <div class="row">
                <div class="col-6 text-center">
                    <span class="status-icon mdi mdi-24px @status.StatusIcon"></span>
                </div>
                <div class="col-6 text-center">
                    @if(status.StatusValue == ApartmentStatuses.Complete)
                    {
                        <span class="status-value-complete mdi mdi-24px mdi-check-circle"></span>
                    }
                    else
                    {
                        <span class="status-value-incomplete mdi mdi-24px mdi-alert"></span>
                    }
                </div>
            </div>
        </ItemTemplate>
    </CarltonListCard>
</div>

@code {
    [Parameter]
    public ApartmentStatusesViewModel ViewModel { get; set; }

    [Parameter]
    public EventCallback<IComponentEvent> Test { get; set; }
}
