@using Carlton.Dashboard.ViewModels.ApartmentStatus


@inherits CarltonParentComponent<ApartmentStatusListViewModel>

<div class="apartment-status-list-card">
    <CarltonListCard CardTitle="Apartment Status"
                     Items="ViewModel.Statuses"
                     CardStatus="base.ComponentStatus">

        <MenuCardContent>
            <DashboardCardMenu TViewModel="ApartmentStatusListViewModel" Callback="OnComponentEvent" Status="ComponentStatus" />
        </MenuCardContent>

        <ItemTemplate Context="status">
            <ApartmentStatusListItem ViewModel="status" OnComponentEvent="base.OnComponentEvent" />
        </ItemTemplate>
    </CarltonListCard>
</div>

