@page "/"
@inject CarltonTreeViewModel vm


<span>@vm.SelectedItem.DisplayName</span>
<TestBed ComponentType="vm.SelectedItem.Type" ViewModel="vm.SelectedItem.ViewModel" />



@code{

    public Type TestComponentType { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        vm.SelectedItemChanged += (sender, args) =>
        {
            this.StateHasChanged();
        };
    }
}