@using Carlton.Base.Client.Components.Layouts
@using Carlton.Base.Client.State
@using Carlton.TestBed.Client.Shared.Header
@using Carlton.TestBed.Client.Shared.NavTree
@using Carlton.TestBed.Client.Shared.ComponentViewer
@using Carlton.TestBed.Client.Shared.Panel 

@inherits LayoutComponentBase

<CarltonDashboardLayout>
    <HeaderContent>
        <Header />
    </HeaderContent>

    <Body>
        <CarltonDataStoreWrapper TViewModel="ComponentViewerViewModel">
            <ChildComponent>
                <ComponentViewer ViewModel="@context.ViewModel"
                                 OnComponentEvent="@context.ComponentEventHandler"
                                 />
            </ChildComponent>
        </CarltonDataStoreWrapper>
    </Body>

    <NavContent>
        <CarltonDataStoreWrapper TViewModel="NavTreeViewModel">
            <ChildComponent>
                <NavTree ViewModel="@context.ViewModel"
                         OnComponentEvent="@context.ComponentEventHandler"
                         ComponentStatus="ComponentStatus.SYNCED" />
            </ChildComponent>
        </CarltonDataStoreWrapper>
    </NavContent>

    <PanelContent>
        <Panel />
    </PanelContent>
</CarltonDashboardLayout>










