@using Carlton.Base.Client.Components.Cards
@using Carlton.Dashboard.ViewModels.DinnerGuests


@inherits DashboardBaseComponent<DinnerGuestsListViewModel>

<CarltonCssWraper ComponentType="this.GetType()">
    <Content>
        <CarltonListCard CardTitle="Dinner Guests"
                         Items="ViewModel.DinnerGuests">

            <MenuCardContent>
                <DashboardCardMenu TViewModel="DinnerGuestsListViewModel" Callback="OnComponentEvent" Status="ComponentStatus" />
            </MenuCardContent>

            <HeaderCardContent>
                <DinnerGuestsSelfStatus ViewModel="ViewModel.MyDinnerGuestStatus" OnComponentEvent="base.OnComponentEvent" />
                <div class="sub-title">Guests</div>
            </HeaderCardContent>

            <ItemTemplate Context="guest">
                <DinnerGuestListItemWithIndicator ViewModel="guest" />
            </ItemTemplate>
        </CarltonListCard>
    </Content>
</CarltonCssWraper>



