@using Carlton.Base.Client.Components.Cards
@using Carlton.Dashboard.ViewModels.DinnerGuests


@inherits CarltonParentComponent<DinnerGuestsListViewModel>


<div class="dinner-guests-list-card">
    <CarltonListCard CardTitle="Dinner Guests"
                     Items="ViewModel.DinnerGuests"
                     CardStatus="base.ComponentStatus">

        <MenuCardContent>
            <CarltonCardMenu  TViewModel="DinnerGuestsListViewModel" Callback="OnComponentEvent"/>
        </MenuCardContent>
  
        <HeaderCardContent>
            <DinnerGuestsSelfStatus ViewModel="ViewModel.MyDinnerGuestStatus" OnComponentEvent="base.OnComponentEvent" />
            <div class="sub-title">Guests</div>
        </HeaderCardContent>

        <ItemTemplate Context="guest">
            <DinnerGuestListItemWithIndicator ViewModel="guest" />
        </ItemTemplate>
    </CarltonListCard>
</div>


