@namespace Carlton.Base.Infrastructure.Client.Components.Tree

<div class="carlton-tree">
    <img src="https://paradisebound.org/wp-content/uploads/2016/09/paradise-bound-ministries-mission-teams-homes-built-and-dedicated-house-icon.png" height="50" width="50" alt="Image result for house icon"/>
    <span>Carlton TestBed</span>

    <BaseTree Nodes="ViewModel.TreeItems"
              ChildSelector="@(item => item.Children)"
              @bind-SelectedNode="SelectedNode"
              @bind-ExpandedNodes="ExpandedNodes"
              HasChildNodes="@(item => item.Children?.Any() == true)"
              Style="TreeStyle.DefaultTreeStyle">
        <TitleTemplate>@context.DisplayName</TitleTemplate>
    </BaseTree>
</div>


@code {
    [Parameter]
    public CarltonTreeViewModel ViewModel { get; set; }

    IList<TreeItem> ExpandedNodes = new List<TreeItem>();

    public TreeItem SelectedNode
    {
        set
        {
            ViewModel.SelectedItem = value;
        }
        get
        {
            return ViewModel.SelectedItem;
        }
    }
}
