@import "./theme_defenitions.scss";

.carlton-card {
    .card {
        @include themify($themes) {
            background-color: themed('cardBackgroundColor');
        }

        @include themify($themes) {
            color: themed('textColor');
        }

        .card-title{
            @include themify($themes){
                color: themed('titleColor');
            }
        }
    }
}
