@import "../Styles/themes/theme_defenitions.scss";

.dinner-guests-list-item {
    margin-top: 10px;

    .guest-name {
        font-weight: bold;
        font-size: 10pt;

        @include themify($themes) {
            color: themed('textColor');
        }
    }

    .guest-message {
        @include themify($themes) {
            color: themed('textColor');
        }
    }

    .is-home-for-dinner {
        @include themify($themes) {
            color: themed('completedColor');
        }
    }
}
