.dinner-guests-self-status {
  max-width: 500px;
  border-bottom-style: dashed;
  border-bottom-width: thin;
  padding-bottom: 10px; }
  .dinner-guests-self-status .home-for-dinner-row label {
    font-size: 10pt;
    margin-top: 10px; }
    .theme-light .dinner-guests-self-status .home-for-dinner-row label {
      color: #757575; }
    .theme-dark .dinner-guests-self-status .home-for-dinner-row label {
      color: #c2c2c2; }
  .dinner-guests-self-status .carlton-select .label {
    font-size: 10pt; }
    .theme-light .dinner-guests-self-status .carlton-select .label {
      color: #757575; }
    .theme-dark .dinner-guests-self-status .carlton-select .label {
      color: #c2c2c2; }
  .theme-light .dinner-guests-self-status .carlton-checkbox span {
    color: #009688; }
  .theme-dark .dinner-guests-self-status .carlton-checkbox span {
    color: #00c689; }
