@inherits Header
@namespace Carlton.Base.Client.Components.Header
<div class="row header-bar">
    <div class="title col-md-3 col-xl-2">
        @LogoContent
    </div>
    <div class="menu col-md-1 col-xl-2">
        @MenuContent
    </div>
    <div class="action col-6 offset-2">
        @ActionContent
    </div>
</div>
