@import "../mixins/mixins.scss";

.header {
    width: 100%;
    height: 60px;
    background-color: #263238;
    line-height: 60px;

    .row {
        margin-left: 0px;
        margin-right: 0px;

        .title {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    span {
        color: white;
        font-size: 16pt;
        vertical-align: middle;
    }

    img {
        @include avatar-img;
    }

    .logged-in-user {
        text-align: right;

        span {
            font-size: 12pt;
        }
    }
}
