.logo {
    background-color: #00897b;
    margin-bottom: 20px;
    height: 60px;
    line-height: 60px;

    span {
        display: inline-block;
        color: white;
        font-size: 16pt;
        vertical-align: middle;
    }
}
