@using Carlton.Dashboard.ViewModels

@namespace Carlton.Dashboard.Components
@inherits CarltonComponentBase<ToDo>

<div class="to-do-list-item">
    <div class="row">
        <div class="col-1">
            <Checkbox IsChecked="@ViewModel.IsCompleted" OnCheckboxChangeCallback="(isChecked) => base.OnComponentEvent.InvokeAsync(new ToDoStatusChangedEvent(ViewModel.Id , isChecked))" />
        </div>
        <span class="col-10">
            <span class="to-do-name align-middle @(ViewModel.IsCompleted ? "completed" : string.Empty)">@ViewModel.Name</span>
        </span>
    </div>
</div>


