@using Carlton.Base.Client.Components.Cards
@using Carlton.Dashboard.ViewModels.Groceries


@inherits CarltonParentComponent<GroceriesListViewModel>

<div class="groceries-list-items-card">
    <CarltonListCard CardTitle="Groceries"
                     Items="ViewModel.Items"
                     CardStatus="base.ComponentStatus">

        <MenuCardContent>
            <DashboardCardMenu TViewModel="GroceriesListViewModel" Callback="OnComponentEvent" Status="ComponentStatus" />
        </MenuCardContent>

        <ItemTemplate Context="item">
            <GroceriesListItem ViewModel="item" />
        </ItemTemplate>
    </CarltonListCard>
</div>

