.groceries-list-item {
  max-width: 400px; }
  .theme-light .groceries-list-item span.item-name {
    color: #757575; }
  .theme-dark .groceries-list-item span.item-name {
    color: #c2c2c2; }
  .groceries-list-item .progress {
    height: 8px;
    background-color: transparent; }
  .groceries-list-item .progress-bar {
    border-radius: 10px; }
    .theme-light .groceries-list-item .progress-bar.high {
      background-color: #7ac29a; }
    .theme-dark .groceries-list-item .progress-bar.high {
      background-color: #00897b; }
    .theme-light .groceries-list-item .progress-bar.medium {
      background-color: #fec00a; }
    .theme-dark .groceries-list-item .progress-bar.medium {
      background-color: #ed9c28; }
    .theme-light .groceries-list-item .progress-bar.low {
      background-color: #ff7946; }
    .theme-dark .groceries-list-item .progress-bar.low {
      background-color: #fe4c4f; }
