@using Carlton.Base.Client.Components.Cards


@inherits CarltonParentComponent<ToDoListViewModel>

<div class="to-do-list-card">
    <CarltonListCard CardTitle="To-Do's" Items="ViewModel.ToDoList">
        <ItemTemplate Context="toDo">
            <ToDoListItem ViewModel="toDo"  OnComponentEvent="base.OnComponentEvent" />  
        </ItemTemplate>
    </CarltonListCard>
</div>



