@namespace Carlton.Dashboard.Components.ToDos

@inherits CarltonParentComponent<ToDoListViewModel>
@using Carlton.Base.Infrastructure.Client.Components.Cards
@using Carlton.Base.Infrastructure.Client.Components


<div class="to-do-list-card">
    <CarltonListCard CardTitle="To-Do's" Items="ViewModel.ToDoList">
        <ItemTemplate Context="toDo">
            <div class="row">
                <div class="col-8">
                    <Checkbox CheckboxLabel="@toDo.Name" IsChecked="toDo.IsCompleted" />
                </div>
                <div class="col-4">
                    <a href="#" @onclick="OnClick">
                        <span class="to-do-link-btn glyphicon glyphicon-th-list">View</span>
                    </a>
                </div>
            </div>
        </ItemTemplate>
    </CarltonListCard>
</div>

@code {   
    private async Task OnCheck(int id)
    {
        this.ViewModel.ToDoList.SingleOrDefault(o => o.Id == id).IsCompleted = true;
    }

    private async Task OnClick()
    {
        await OnComponentEvent.InvokeAsync(new Carlton.Dashboard.Components.ToDo.ToDoEvent("Link Button Clicked", new { Test = "Test 1", Test2 = "Test 2" }));
    }
}


