@using Carlton.Base.Client.Components.Checkbox

<div class="row">
    <div class="col-1">
        <CarltonCheckbox IsChecked="@ViewModel.IsCompleted" OnCheckboxChangeCallback="(isChecked) => CheckboxChangedCallback.InvokeAsync(new ToDoStatusChangedEvent(ViewModel.Id, isChecked))" />
    </div>
    <span class="col-10">
        <span class="to-do-name align-middle">@ViewModel.Name</span>
    </span>
    @*<i class="col-2 my-dinner-status-row mdi mdi-24px mdi-square-edit-outline"></i>*@
</div>

@code {
    [Parameter]
    public ToDo ViewModel { get; set; }

    [Parameter]
    public EventCallback<ToDoStatusChangedEvent> CheckboxChangedCallback { get; set; }
}
