@using Carlton.Base.Infrastructure.Client.Components.Cards


@inherits CarltonParentComponent<ToDoListViewModel>

<div class="to-do-list-card">
    <CarltonListCard CardTitle="To-Do's" Items="ViewModel.ToDoList">
        <ItemTemplate Context="toDo">
            <ToDoListItem ViewModel="toDo" CheckboxChangedCallback="base.OnComponentEvent"  />  
        </ItemTemplate>
    </CarltonListCard>
</div>



