@import "../themes/theme_defenitions.scss";

.test-bed-header {
    .user-col {
        padding: 0px;
    }

    .options {
        line-height: initial;
        font-size: 12pt;
        top: -15px;

        @include themify($themes) {
            background-color: themed('cardBackgroundColor');
        }

        a {
            @include themify($themes) {
                color: themed('textColor');
            }
        }
    }

    .carlton-menu .menu-root span {
        color: white;
    }

    a {
        vertical-align: middle
    }

    li {
        height: 25px;
    }

    .carlton-submenu {
        .options {
            left: 50px;
            top: 75px;
        }

        i {
            vertical-align: middle;
        }
    }
}
