
<div class="failure-notification">
    <CarltonBaseNotification IconClass="mdi-alert-circle-outline" BackgroundClass="failure-notification" Message="An Error Has Occured"></CarltonBaseNotification>
</div>