
@inherits CarltonBaseTabBar

<CascadingValue Value="this">
    @ChildContent
</CascadingValue>

<div class="carlton-mobile-tabs">
    <div class="bottom-nav">
            @foreach(CarltonTab tab in _tabs)
            {
                <div class="bottom-nav-item @(tab==this.ActiveTab ? "active" : "")">
                    <div class="bottom-nav-link" @onclick=@(()=>ActivateTab(tab))>
                        <i class="mdi mdi-24px @tab.Icon"></i>
                        <span>@tab.DisplayText</span>
                    </div>
                </div>
            }
    </div>
</div>


@*<CascadingValue Value="this">
        @ChildContent
    </CascadingValue>


    @code {
        [Parameter]
        public RenderFragment ChildContent { get; set; }

        public CarltonTab ActiveTab { get; set; }

        private List<CarltonTab> _tabs = new List<CarltonTab>();

        private int _tabCount;

        private int _activeTabIndex;

        internal void AddTab(CarltonTab tab)
        {
            _tabCount = _tabCount + 1;
            tab.TabIndex = _tabCount - 1;

            _tabs.Add(tab);
            if(_tabs.Count == 1)
                ActiveTab = tab;
            StateHasChanged();
        }

        internal void ActivateTab(CarltonTab tab)
        {
            ActiveTab = tab;
            _activeTabIndex = tab.TabIndex;
        }

        private string GetButtonClass(CarltonTab tab)
        {
            return tab == ActiveTab ? "btn-primary" : "btn-secondary";
        }

        private int CalculateTabBarOffset()
        {
            return _activeTabIndex * 190;
        }
        @**@