
<div class="carlton-toggle-switch">
    @if(IsChecked)
    {
        <input class="switch right" type="checkbox" @onclick="() => OnToggleChangedCallback.InvokeAsync(!IsChecked)" @onclick:preventDefault checked />
    }
    else
    {
        <input class="switch right" type="checkbox" @onclick="()=>OnToggleChangedCallback.InvokeAsync(!IsChecked)" @onclick:preventDefault="true" />
    }
</div>


@code{
    [Parameter]
    public bool IsChecked { get; set; }

    [Parameter]
    public EventCallback<bool> OnToggleChangedCallback { get; set; }
}