.feed-list-item {
  max-width: 350px;
  margin-top: 10px; }
  .feed-list-item .feed-item-row {
    border-bottom-style: solid; }
    .theme-light .feed-list-item .feed-item-row {
      border-bottom-color: rgba(117, 117, 117, 0.25); }
    .theme-dark .feed-list-item .feed-item-row {
      border-bottom-color: rgba(194, 194, 194, 0.25); }
  .feed-list-item .feed-title {
    font-weight: bold; }
    .theme-light .feed-list-item .feed-title {
      color: #009688; }
    .theme-dark .feed-list-item .feed-title {
      color: #00c689; }
  .feed-list-item .feed-message {
    font-size: 9pt; }
    .theme-light .feed-list-item .feed-message {
      color: #757575; }
    .theme-dark .feed-list-item .feed-message {
      color: #c2c2c2; }
  .feed-list-item .feed-date-col .feed-date {
    font-size: 8px;
    margin-top: 10px;
    vertical-align: top; }
    .theme-light .feed-list-item .feed-date-col .feed-date {
      color: #757575; }
    .theme-dark .feed-list-item .feed-date-col .feed-date {
      color: #c2c2c2; }
