
<div class="carlton-menu">
    <a href="#" class="menu-root">
        @MenuTemplate
    </a>

    <div class="options">
        <ul>
            @foreach(var item in MenuItems.Items)
            {            
                <li>
                    @MenuItemTemplate(item)
                </li>
            }
        </ul>
    </div>
</div>

@code{
    [Parameter]
    public CarltonMenuItems MenuItems { get; set; }
    [Parameter]
    public RenderFragment MenuTemplate { get; set; }
    [Parameter]
    public RenderFragment<CarltonMenuItem> MenuItemTemplate {get; set;}
}