
    <div class="carlton-menu">
        
        <a href="#" class="dots">
            <span class="mdi mdi-24px mdi-dots-vertical"></span>
        </a>


        <div class="options">
            <ul>
                @foreach(var opt in Options)
                {
                    <li>
                        <a @onclick="() =>{ }">@opt.Key</a>
                    </li>
                }
            </ul>
        </div>
    </div>

@code{
    [Parameter]
    public IReadOnlyDictionary<string, string> Options { get; set; } = new Dictionary<string, string>();
}