@inherits Menu

<div class="test-bed-header-menu">
    <div>
        <span class="icon mdi mdi-24px mdi-settings"></span>
    </div>

    <Menu MenuItems="_menuItems">
        <MenuTemplate>
            <span class="icon mdi mdi-24px mdi-format-paint"></span>
        </MenuTemplate>
        <MenuItemTemplate Context="item">
            <MenuElement MenuItem="item" />
        </MenuItemTemplate>
    </Menu>
</div>

@code{

    [CascadingParameter]
    private string Theme { get; set; }

    [CascadingParameter]
    private Action<string> UpdateTheme { get; set; }

    private List<MenuItem> _menuItems;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _menuItems = new List<MenuItem>
        {
            new MenuItem("Light", () => {UpdateTheme("light"); return Task.CompletedTask; }),
            new MenuItem("Dark", () => {UpdateTheme("dark"); return Task.CompletedTask; })
        };
    }
}