.test-bed-header-menu {
    display: inline-flex;

    > div {
        width: 30px;
    }

    span.mdi {
        color: white;
    }

    /*Override Menu Styles*/
    ::deep .menu {
        position: inherit;

        .icon {
            color: white;
        }
    }
}
