@namespace Carlton.Base.Client.Components

<Menu MenuItems="MenuItems">
    <MenuTemplate Context="isActive">
        <figure></figure>
        <figure class="middle @(isActive ? "active" : string.Empty)"></figure>
        <figure></figure>
        <p class="cross @(isActive ? "active" : string.Empty)">x</p>
    </MenuTemplate>
    <MenuItemTemplate Context="item">
        <MenuElement MenuItem="item" />
    </MenuItemTemplate>
</Menu>

@code{
    [Parameter]
    public MenuItems MenuItems { get; set; }
}
