@namespace Carlton.Base.Client.Components


<a href="#" @onclick:preventDefault ="true" @onclick="MenuItem.MenuItemEvent">@MenuItem.MenuItemName</a>

@code{
    [Parameter]
    public MenuItem MenuItem { get; set; }
}