@namespace Carlton.Base.Client.Components

<div class="menu">
    <a href="#" class="menu-root">
        @MenuTemplate
    </a>

    <div class="options">
        <ul>
            @foreach(var item in MenuItems.Items)
            {
                <li>
                    @MenuItemTemplate(item)
                </li>
            }
        </ul>
    </div>
</div>

@code{
    [Parameter]
    public MenuItems MenuItems { get; set; }
    [Parameter]
    public RenderFragment MenuTemplate { get; set; }
    [Parameter]
    public RenderFragment<MenuItem> MenuItemTemplate { get; set; }
}