@namespace Carlton.Base.Client.Components

<div class="menu" @onclick="() => IsActive = !IsActive">
    @MenuTemplate(IsActive)
    <ul class="dropdown @(IsActive ? "active" : string.Empty)">

        @foreach(var item in MenuItems.Items)
        {
            <li>
                @MenuItemTemplate(item)
            </li>
        }
    </ul>

</div>

@code{
    [Parameter]
    public MenuItems MenuItems { get; set; }
    [Parameter]
    public RenderFragment<bool> MenuTemplate { get; set; }
    [Parameter]
    public RenderFragment<MenuItem> MenuItemTemplate { get; set; }
    private bool IsActive { get; set; }
}



