@namespace Carlton.Base.Client.Components

<span>
    <a href="#" @onclick="MenuItem.MenuItemEvent">@MenuItem.MenuItemName</a>
</span>
@code{
    [Parameter]
    public MenuItem MenuItem { get; set; }
}