@namespace Carlton.Base.Client.Components

<div class="submenu">
    <a href="#" class="submenu-root">@MenuItem.MenuItemName</a>
    <i class="base-tree-icon mdi mdi-24px mdi-chevron-right"></i>

    <div class="options">
        <ul>
            @foreach(var item in MenuItem.Submenu)
            {
                <li>
                    <MenuElement MenuItem="item" />
                </li>
            }
        </ul>
    </div>
</div>

@code{
    [Parameter]
    public MenuItem MenuItem { get; set; }
}