@namespace Carlton.Base.Client.Components

<Menu MenuItems="MenuItems">
    <MenuTemplate>
        <span class="icon mdi mdi-24px mdi-format-paint"></span>
    </MenuTemplate>
    <MenuItemTemplate Context="item">
        <MenuElement MenuItem="item" />
    </MenuItemTemplate>
</Menu>


@code{
    [CascadingParameter]
    private string Theme { get; set; }

    [CascadingParameter]
    private Action<string> UpdateTheme { get; set; }

    private MenuItems MenuItems { get; set; }

    protected override void OnInitialized()
    {
        MenuItems = new MenuItems(
            new List<MenuItem>
            {
                new MenuItem("Light", () => {UpdateTheme("light"); return Task.CompletedTask; }),
                new MenuItem("Dark", () => {UpdateTheme("dark"); return Task.CompletedTask; })
            });

        base.OnInitialized();
    }
}
