@namespace Carlton.Base.Infrastructure.Client.Components

<div class="carlton-checkbox">
    @if(IsChecked)
    {
        <span @onclick="() => UserCheckChange(false)" class="to-do-completed align-middle mdi mdi-24px mdi-check-circle"></span>
    }
    else
    {
        <span @onclick="() => UserCheckChange(true)" class="to-do-completed align-middle mdi mdi-24px mdi-checkbox-blank-circle-outline"></span>
    }
    <span class="to-do-name align-middle">@CheckboxLabel</span>
</div>

@code {
    [Parameter]
    public string CheckboxLabel { get; set; }

    [Parameter]
    public EventCallback<bool> OnCheckboxChangeCallback { get; set; }

    [Parameter]
    public bool IsChecked { get; set; }

    public void SetCheckBox(bool value)
    {
        IsChecked = value;
        this.StateHasChanged();
    }

    private void UserCheckChange(bool value)
    {
        IsChecked = value;
        OnCheckboxChangeCallback.InvokeAsync(value);
    }
}
