@import "../themes/theme_defenitions.scss";

.carlton-media-query-wrapper {
    width: 100%;

    .carlton-tabs a {
        @include themify($themes) {
            color: themed('textColor');
        }
    }

    .tab-selected-bar {
        @include themify($themes) {
            background-color: themed('completedColor');
        }
    }

    textarea {
        padding: 5px;
    }
}
