@import "../utilities/console.scss";

.event-console {
    @include console-textarea;

    button {
        border-color: transparent;
        background-color: #00897b;
        margin-left: 10px;
    }
}
