
@inherits CarltonParentComponent<object>

<div class="failure-notification">
    <CarltonBaseNotification IconClass="mdi-alert-circle-outline" BackgroundClass="failure" Message="An Error Has Occured"></CarltonBaseNotification>
</div>