
@inherits CarltonParentComponent<object>

<div class="success-notification">
    <CarltonBaseNotification IconClass="mdi-check" BackgroundClass="success" Message="Success"></CarltonBaseNotification>
</div>

