
@inherits CarltonParentComponent<object>

<div class="alert-notification">
    <CarltonBaseNotification IconClass="mdi-bell-outline" BackgroundClass="alert" Message="notice this"></CarltonBaseNotification>
</div>