
@inherits CarltonParentComponent<object>

<div class="info-notification">
    <CarltonBaseNotification IconClass="mdi-bell-outline" BackgroundClass="info" Message="An Error Has Occured"></CarltonBaseNotification>
</div>