
@inherits CarltonCard
@typeparam TItem

<div class="carlton-list-card">
    <CarltonCard CardTitle="@CardTitle" 
                 MenuCardContent="MenuCardContent">

        <ActionBarContent>
            @ActionBarContent
        </ActionBarContent>

        <PrimaryCardContent>
            <div class="sub-title">@SubTitle</div>

            <ul>
                @foreach(var item in Items)
                {
                    <li>
                        @ItemTemplate(item)
                    </li>
                }
            </ul>
        </PrimaryCardContent>
    </CarltonCard>
</div>

@code{
    [Parameter]
    public string SubTitle { get; set; }
    [Parameter]
    public RenderFragment<TItem> ItemTemplate { get; set; }

    [Parameter]
    public IEnumerable<TItem> Items { get; set; }
}

