@using Carlton.Base.Client.Components.Menu
@using Carlton.Base.Client.Enums

<div class="carlton-card @(CardStatus == ComponentStatus.INVALID ? "card-invalid" : string.Empty)">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row status-row">
                    <h5 class="col-9 cd-title">@CardTitle</h5>
                    <div class="col-3 status-icon">
                        @switch(CardStatus)
                        {
                            case ComponentStatus.SYNCED:
                                <CarltonSimpleMenu MenuItems="MenuItems" />
                                break;
                            case ComponentStatus.SYNCING:
                                <img height="30" src="_content/Carlton.Base.Client/images/spinner.gif" />
                                break;
                            case ComponentStatus.INVALID:
                                <img src="_content/Carlton.Base.Client/images/warning.png" width="40" height="40" />
                                break;
                            default:
                                break;
                        }
                    </div>
                </div>
                <div class="header-content">
                    @HeaderCardContent
                </div>
                <div class="primary-content">
                    @PrimaryCardContent
                </div>
            </div>
        </div>
    </div>
</div>



@code{
    [Parameter]
    public string CardTitle { get; set; }
    [Parameter]
    public CarltonMenuItems MenuItems { get; set; }
    [Parameter]
    public RenderFragment HeaderCardContent { get; set; }
    [Parameter]
    public RenderFragment PrimaryCardContent { get; set; }
    [Parameter]
    public ComponentStatus CardStatus { get; set; }
}