
@switch(CardStatus)
{
    case ComponentStatus.SYNCED:
        <span class="mdi mdi-24px mdi-dots-vertical"></span>
        break;
    case ComponentStatus.SYNCING:
        <img height="30" src="_content/Carlton.Base.Client/images/spinner.gif" />
        break;
    case ComponentStatus.INVALID:
        <img src="_content/Carlton.Base.Client/images/warning.png" width="40" height="40" />
        break;
    default:
        break;
}


@code {
    [Parameter]
    public ComponentStatus CardStatus { get; set; }
}
