
@typeparam TItem

<div class="carlton-grouped-list-card">
    <div class="to-do-list-card">
        <CarltonListCard CardTitle="@CardTitle" Items="GroupedItems">
            <ItemTemplate Context="group">
                <div>
                    <span><u>@group.GroupName</u></span>
                </div>
                <br />
                <div>
                    <ul>
                        @foreach(var item in group.GroupItems)
                        {
                            @ItemTemplate(item)
                        }
                    </ul>
                </div>
            </ItemTemplate>
        </CarltonListCard>
    </div>
</div>

@code {
    [Parameter]
    public string CardTitle { get; set; }

    [Parameter]
    public RenderFragment<TItem> ItemTemplate { get; set; }

    [Parameter]
    public IEnumerable<GroupedItem> GroupedItems { get; set; }

    public class GroupedItem
    {
        public string GroupName { get; set; }
        public IEnumerable<TItem> GroupItems { get; set; }
    }
}
