@namespace Carlton.Base.Infrastructure.Client.Components.Cards
@typeparam TItem

<div class="carlton-grouped-list-card">
    <div class="to-do-list-card">
        <CarltonListCard CardTitle="@CardTitle" Items="GroupedItems.ToList()">
            <ItemTemplate Context="groupedItems">
                <div>
                    <span><u>@groupedItems.GroupName</u></span>
                </div>
                <br />
                <div>
                    <ul>
                        @foreach(var item in groupedItems.Items)
                        {
                            @ItemTemplate(item)
                        }
                    </ul>
                </div>
            </ItemTemplate>
        </CarltonListCard>
    </div>
</div>

@code {
    [Parameter]
    public string CardTitle { get; set; }

    [Parameter]
    public RenderFragment<TItem> ItemTemplate { get; set; }

    [Parameter]
    public IEnumerable<GroupedItems<TItem>> GroupedItems { get; set; }
}
