@using Carlton.Base.Client.Enums

<div class="carlton-card @(CardStatus == ComponentStatus.INVALID ? "card-invalid" : string.Empty)">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row status-row">
                    <h5 class="col-9 cd-title">@CardTitle</h5>
                    <div class="col-3 status-icon">
                        <CarltonCardStatus CardStatus="CardStatus" />
                    </div>
                </div>
                <div class="header-content">
                    @HeaderCardContent
                </div>
                <div class="primary-content">
                    @PrimaryCardContent
                </div>
                <div class="secondary-content">
                    @SecondaryCardContent
                </div>
            </div>
        </div>
    </div>
</div>



@code{
    [Parameter]
    public string CardTitle { get; set; }
    [Parameter]
    public RenderFragment HeaderCardContent { get; set; }
    [Parameter]
    public RenderFragment PrimaryCardContent { get; set; }
    [Parameter]
    public RenderFragment SecondaryCardContent { get; set; }
    [Parameter]
    public ComponentStatus CardStatus { get; set; }
}