
@inherits CarltonCard
@typeparam TItem

<div class="carlton-list-card">
    <CarltonCard CardTitle="@CardTitle" CardStatus="CardStatus" MenuItems="MenuItems">
        <HeaderCardContent>
            @HeaderCardContent
        </HeaderCardContent>
        <PrimaryCardContent>
            <ul>
                @foreach(var item in Items)
                {
                    <li>
                        @ItemTemplate(item)
                    </li>
                }
            </ul>
        </PrimaryCardContent>
    </CarltonCard>
</div>

@code{
    [Parameter]
    public RenderFragment<TItem> ItemTemplate { get; set; }

    [Parameter]
    public IEnumerable<TItem> Items { get; set; }
}

