@namespace Carlton.Base.Infrastructure.Client.Components.Cards
@inherits  CarltonCard
@typeparam TItem


<div class="carlton-list-card">
    <CarltonCard CardTitle="@CardTitle">
        <HeaderCardContent>
            @HeaderCardContent
        </HeaderCardContent>
        <PrimaryCardContent>
            <ul>
                @foreach(var item in Items)
                {
                    @ItemTemplate(item)
                }
            </ul>
        </PrimaryCardContent>
        <SecondaryCardContent>
            @SecondaryCardContent
        </SecondaryCardContent>
    </CarltonCard>
</div>

@code{
    [Parameter]
    public RenderFragment<TItem> ItemTemplate { get; set; }

    [Parameter]
    public IEnumerable<TItem> Items { get; set; }
}


