@namespace Carlton.Base.Infrastructure.Client.Components.Cards

<div class="overview-card">
    <CarltonCard>
        <PrimaryCardContent>
            <div class="row">
                <span class="overview-icon mdi mdi-24px @(IconName)"></span>
                <span class="col-8">@OverviewText</span>
            </div>
        </PrimaryCardContent>
    </CarltonCard>
</div>

@code {
    [Parameter]
    public string IconName { get; set; }
    [Parameter]
    public string OverviewText { get; set; }
}
