<h3>EventConsole</h3>

<div class="form-group">
    <textarea readonly="readonly" rows="8">Button Clicked: This is a test
Buttong Clicked: This is a test
                        </textarea>
</div>

@code {

}
