@using  Newtonsoft.Json
@inject TestBedService TestBedService

<div class="form-group">
    <textarea readonly="readonly" rows="8">@ConsoleText</textarea>
</div>

@code {

    public string ConsoleText { get; set; } 

    protected override void OnInitialized()
    {
        base.OnInitialized();

        TestBedService.ComponentEventFired += (object sender, Carlton.Base.Infrastructure.Client.Events.IComponentEvent evt) =>
        {
            ConsoleText += Environment.NewLine;
            ConsoleText += $"{evt.EventName}: {JsonConvert.SerializeObject(evt.EventParams)}";
            StateHasChanged();
        };
    }
}


