@using  Newtonsoft.Json
@using  Carlton.Base.Infrastructure.Client.Events


<div class="form-group">
    <textarea readonly="readonly" rows="8">@ConsoleText</textarea>
    <button @onclick="ClearEvents">clear</button>
</div>

@code {

    [Parameter]
    public TestBedViewModel ViewModel { get; set; }

    public string ConsoleText { get; set; }

    private void ClearEvents()
    {
        ConsoleText = string.Empty;
        ViewModel.ComponentEvents.Clear();
        this.StateHasChanged();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        ConsoleText = string.Empty;

        foreach(var evt in ViewModel.ComponentEvents)
        {
            ConsoleText += Environment.NewLine;
            ConsoleText += $"{evt.EventName}: {JsonConvert.SerializeObject(evt.EventParams)}";
        }
    }
}


