@using Newtonsoft.Json

<div class="view-model-viewer-component">
    <div class="form-group">
        <textarea class="@(ViewModelIsInvalid ? "error" : string.Empty)" rows="8" @bind="ViewModelJson"></textarea>
    </div>
</div>

<style>
    .view-model-viewer-component textarea {
        color: greenyellow;
    }

        .view-model-viewer-component textarea.error {
            color: red;
        }
</style>

@code {

    [Parameter]
    public TestBedViewModel ViewModel { get; set; }

    [Parameter]
    public EventCallback<object> ViewModelChanged { get; set; }

    private bool ViewModelIsInvalid { get; set; }

    private string _viewModelJson;
    public string ViewModelJson
    {
        get { return _viewModelJson; }

        set
        {
            try
            {
                _viewModelJson = value;
                var currentType = ViewModel.TestComponentViewModel.GetType();
                var newVM = JsonConvert.DeserializeObject(ViewModelJson, currentType);
                ViewModel.UpdateTestComponentViewModel(newVM);
                ViewModelChanged.InvokeAsync(newVM);
                ViewModelIsInvalid = false;
            }
            catch(Exception)
            {
                ViewModelIsInvalid = true;
            }
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ViewModelJson = Newtonsoft.Json.JsonConvert.SerializeObject(ViewModel.TestComponentViewModel, Formatting.Indented);
    }
}
