@namespace Carlton.Dashboard.Components.OverviewCards
@using Carlton.Base.Infrastructure.Client.Components.Cards
@using Carlton.Dashboard.ViewModels.OverviewCards

<div class="to-do-overview-card">
    <OverviewCard IconName="mdi-home" OverviewText=@($"The open task count is {ViewModel.OpenToDoCount}.")>
    </OverviewCard>
</div>

@code {
    [Parameter]
    public ToDoOverviewCardViewModel ViewModel { get; set; }
}
