@using Carlton.Base.Client.Components.Cards
@using Carlton.Dashboard.ViewModels.HouseholdItems


@inherits CarltonParentComponent<HouseholdItemsViewModel>

<div class="household-items-list-card">
    <CarltonListCard CardTitle="Household Items" Items="ViewModel.Items">
        <ItemTemplate Context="item">
            <HouseholdItem ViewModel="item" />
        </ItemTemplate>
    </CarltonListCard>
</div>

