<div class="carlton-header">
    @if(IsCollapsed)
    {
        <CarltonCollapsedHeader LogoContent="LogoContent"
                                MenuContent="MenuContent"
                                ActionContent="ActionContent" />
    }
    else
    {
        <CarltonExpandedHeader LogoContent="LogoContent"
                               MenuContent="MenuContent"
                               ActionContent="ActionContent" />
    }
</div>



@code{
    [Parameter]
    public RenderFragment LogoContent { get; set; }
    [Parameter]
    public RenderFragment MenuContent { get; set; }
    [Parameter]
    public RenderFragment ActionContent { get; set; }
    [CascadingParameter]
    private bool IsCollapsed { get; set; }
}