<div class="carlton-logo">
    <span>
        <img src="https://paradisebound.org/wp-content/uploads/2016/09/paradise-bound-ministries-mission-teams-homes-built-and-dedicated-house-icon.png" height="50" width="50" alt="Image result for house icon" />
        <span>Carlton Test Bed</span>
    </span>
</div>