@inherits CarltonHeader

<div class="carlton-collapsed-header">
    <div class="row">
        <div class="col-2 title">
            <span>
                @LogoContent
            </span>
            <span>
                @MenuContent
            </span>
        </div>

        <div class="col-6 offset-4 action">
            @ActionContent
        </div>
    </div>
</div>