
@namespace Carlton.Dashboard.Components

<div class="header">
    <div class="row">
        <div class="col-2 title">
            <Logo />
        </div>
        <div class="col-4 offset-6 logged-in-user">
            <img class="avatar-img" src="https://www.w3schools.com/w3images/avatar2.png">
            <span>Stephen</span>
            <span class="icon mdi mdi-24px mdi-settings"></span>
            <span class="icon mdi mdi-24px mdi-logout"></span>
        </div>
    </div>
</div>

