.v-card.dashboard-card {
    height: 350px;
    font-family: $main-font;
  
    .v-card__title {
      // background-color:#5b5b60;
      // color:white;
    }
  
    .card-scroll-content {
      height: 290px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
  