//Aggregate Cards
$dashboardCountAccentOne: #a48adb;
$dashboardCountAccentTwo: #1dbfd4;
$dashboardCountAccentThree: #fec00a;
$dashboardCountAccentFour: #7ac29a;

//Apartment Status
$CompletedColor: #009688;
$pendingColor: #fec00a;
$statusIconColor: #47a8f4;

//Home for Dinner
$activeColor:#009688;

//House Hold Items
$highColor: #009688;
$mediumColor: #fec00a;
$lowColor: #FC6C4E;
$buttonColor: #47a8f4;

//Todo Items
$buttonColor: #47a8f4;
$checkedColor: #009688;

$selectedColor : #009688;
$active: #7ac29a;

:export {
   activeColor:#009688;

   dashboardCountAccentOne: $dashboardCountAccentOne;
   dashboardCountAccentTwo: $dashboardCountAccentTwo;
   dashboardCountAccentThree: $dashboardCountAccentThree;
   dashboardCountAccentFour: $dashboardCountAccentFour;

   buttonColor: $buttonColor;
   checkedColor: $checkedColor;

   healthy: $highColor;
   degraded: $mediumColor;
   error: $lowColor;
}

