.carlton-test-bed-nav-tree {
  min-height: 100%;
  background-color: #263238;
  color: white; }
  .carlton-test-bed-nav-tree .selected-tree-node {
    color: #009688; }

.test-bed {
  height: 500px;
  padding-top: 20px;
  margin-left: 50px; }

.event-console textarea {
  width: 100%;
  height: 500px;
  background-color: black;
  color: greenyellow; }
  .event-console textarea.error {
    color: red; }

.view-model-viewer textarea {
  width: 100%;
  height: 500px;
  background-color: black;
  color: greenyellow; }
  .view-model-viewer textarea.error {
    color: red; }

.component-status-switch {
  padding: 20px; }

main {
  background-color: #f5f6fa; }

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px; }
  .container-fluid nav {
    padding-left: 0px;
    padding-right: 0px; }

nav.sidebar {
  height: 100%;
  position: fixed;
  overflow-y: auto; }

footer {
  width: 100%;
  overflow: hidden; }

/*Bootstrap Overrides*/
.main .nav-tabs .nav-link {
  color: #757575; }
  .main .nav-tabs .nav-link.active {
    color: #68b7f6;
    background-color: #f0f0f0; }
