@using Carlton.Dashboard.ViewModels.CountCards

@inherits CarltonParentComponent<ApartmentStatusCountCardViewModel>

<div class="apartment-status-count-card">
    <CarltonBaseCountCard ViewModel="ViewModel" />
</div>
