@using Carlton.Dashboard.ViewModels.CountCards

@inherits CarltonParentComponent<DinnerGuestsCountCardViewModel>

<div class="dinner-guests-count-card">
    <CarltonBaseCountCard ViewModel="ViewModel" />
</div>
