@using Carlton.Dashboard.ViewModels.CountCards

@inherits CarltonParentComponent<GroceriesCountCardViewModel>

<div class="groceries-count-card">
    <CarltonBaseCountCard ViewModel="ViewModel" />
</div>
