@using Carlton.Dashboard.ViewModels.CountCards

@inherits CarltonParentComponent<HouseholdItemsCountCardViewModel>

<div class="house-hold-items-count-card">
    <CarltonBaseCountCard ViewModel="ViewModel" />
</div>
