@import "./theme_utilities.scss";

$themes: ( 
    light: ( 
        backgroundColor: #fff,
        textColor: #757575,
        titleColor: #000,
        cardBackgroundColor: #fff,
        completedColor: #009688,
        pendingColor: #fec00a,
        iconColor: #47a8f4,
        highColor: #7ac29a,
        mediumColor: #fec00a,
        lowColor: #ff7946,
        countBgColor1: #fff,
        countBgColor2: #fff,
        countBgColor3: #fff,
        countBgColor4: #fff,
        countIconBgColor1: #a48adb,
        countIconBgColor2: #1dbfd4,
        countIconBgColor3: #fec00a,
        countIconBgColor4: #7ac29a,
        countIconColor1: #fff,
        countIconColor2: #fff,
        countIconColor3: #fff,
        countIconColor4: #fff
        ),
    dark: (
        backgroundColor: #191c20,
        textColor: #c2c2c2,
        titleColor: #f2f2f3,
        cardBackgroundColor: #191c24,
        completedColor: #00c689,
        pendingColor: #ffab00,
        iconColor: #0090e7,
        highColor: #20c95c,
        mediumColor: #ed9c28,
        lowColor: #fe4c4f,
        countBgColor1: #20c95c,
        countBgColor2: #fe4c4f,
        countBgColor3: #767bfe,
        countBgColor4: #ac65fe,
        countIconBgColor1: #fff,
        countIconBgColor2: #fff,
        countIconBgColor3: #fff,
        countIconBgColor4: #fff,
        countIconColor1: #20c95c,
        countIconColor2: #fe4c4f,
        countIconColor3: #767bfe,
        countIconColor4: #ac65fe
    )
);

