.main .nav-tabs .nav-link {
  color: #757575; }
  .main .nav-tabs .nav-link.active {
    color: #68b7f6;
    background-color: #f0f0f0; }

.theme-light .container-fluid > .row {
  background-color: #e9edf1; }

.theme-dark .container-fluid > .row {
  background-color: #383f48; }

.theme-light main {
  background-color: #e9edf1; }

.theme-dark main {
  background-color: #383f48; }

/*@import "components/test_bed_panel.scss";*/
/*@import "components/test_bed_header_actions.scss"; */
/*@import "components/test_bed_header_menu.scss";*/
/*@import "components/test_Bed_nav_tree.scss";*/
/*@import "components/test_bed.scss";*/
/*@import "components/test_bed_event_console.scss";*/
/*@import "components/test_bed_view_model_viewer.scss";*/
/*@import "components/test_bed_status_switch.scss";*/
