
@inherits CarltonBaseTabBar

<div class="carlton-mobile-tabs">
    <div class="carlton-slide-tab">
        <button class="slide-button" @onclick="() => IsExpanded = !IsExpanded">Disclaimer</button>
        <div class="slide-container @(IsExpanded ? "expanded" : string.Empty)">
            <CascadingValue Value="this">
                @ChildContent
            </CascadingValue>
        </div>
    </div>

    <div class="bottom-nav">
        @foreach(CarltonTab tab in _tabs)
        {
            <div class="bottom-nav-item @(tab==this.ActiveTab ? "active" : "")">
                <div class="bottom-nav-link" @onclick=@(()=>ActivateTab(tab))>
                    <i class="mdi mdi-24px @tab.Icon"></i>
                    <span>@tab.DisplayText</span>
                </div>
            </div>
        }
    </div>
</div>


@code{
    [Parameter]
    public bool IsExpanded { get; set; }
}
