@namespace Carlton.Base.Client.Components
<div class="row tab">
    <div class="col-12">
        @if(Parent.ActiveTab == this)
        {
            @ChildContent
        }
    </div>
</div>


@code {
    [CascadingParameter]
    private TabBarBase Parent { get; set; }

    [Parameter]
    public string DisplayText { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public int TabIndex { get; set; }

    protected override void OnInitialized()
    {
        if(Parent == null)
            throw new ArgumentNullException(nameof(Parent), "TabPage must exist within a TabControl");
        base.OnInitialized();
        Parent.AddTab(this);
    }
}