@namespace Carlton.Base.Client.Components

<div class="carlton-notification">
    <BaseNotification IconClass="mdi-bell-outline" BackgroundClass="alert-notification" Message="notice this"></BaseNotification>
</div>