@namespace Carlton.Base.Client.Components
<div class="failure-notification">
    <BaseNotification IconClass="mdi-alert-circle-outline" BackgroundClass="failure-notification" Message="An Error Has Occured"></BaseNotification>
</div>