/*@import "../../Styles/libs/external_styles.scss";*/
body ul {
  padding-inline-start: 0px;
  margin-bottom: 0px; }

body {
  font-family: "Roboto", sans-serif !important; }

/*@import "../../Styles/themes/theme_overrides.scss";
@import "../../Styles/components/dashboard_card.scss";*/
